test-workflow.json
{
  "name": "Workflow de Teste - API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-api",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "test-api"
    },
    {
      "parameters": {
        "jsCode": "// Processar dados recebidos via webhook\nconst inputData = $input.first().json;\n\n// Simular processamento de dados\nconst processedData = {\n  timestamp: new Date().toISOString(),\n  received_data: inputData,\n  processed: true,\n  message: \"Dados processados com sucesso!\",\n  total_items: Array.isArray(inputData) ? inputData.length : 1\n};\n\nreturn [{ json: processedData }];"
      },
      "id": "process-data",
      "name": "Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://httpbin.org/post",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "test-api-call",
      "name": "Teste API Externa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Preparar resposta final\nconst apiResponse = $input.first().json;\n\nconst finalResponse = {\n  status: \"success\",\n  workflow_executed: true,\n  api_test_result: {\n    status_code: apiResponse.status || 200,\n    response_received: true,\n    data_sent: apiResponse.json || null\n  },\n  execution_time: new Date().toISOString(),\n  message: \"Workflow executado com sucesso!\"\n};\n\nreturn [{ json: finalResponse }];"
      },
      "id": "prepare-response",
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dados": {
      "main": [
        [
          {
            "node": "Teste API Externa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teste API Externa": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCreatedBy": "Kiro AI Assistant",
    "description": "Workflow de teste para validar funcionalidades básicas do n8n"
  }
}